In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
matches_data= pd.read_csv('/home/atharva/Documents/hackathon/hackathon/Cricket-Dataset/matches.csv')

,MATCH_ID,SEASON,CITY,DATE,TEAM1,TEAM2,TOSS_WINNER,TOSS_DECISION,RESULT,WINNER
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
631,False,False,False,False,False,False,False,False,False,False
632,False,False,False,False,False,False,False,False,False,False
633,False,False,False,False,False,False,False,False,False,False
634,False,False,False,False,False,False,False,False,False,False
635,False,False,False,False,False,False,False,False,False,False

In [7]:
from sqlalchemy import create_engine

In [8]:
import pymysql

In [9]:
db_str= 'mysql+pymysql://dbda:dbda@localhost/hackathon'

In [10]:
con= create_engine(db_str)

In [11]:
query='''
(select season, toss_winner, count(toss_winner) from matches
        where toss_decision="field" and season in (2016)
        group by season, toss_winner
        order by season desc, count(toss_winner) desc
        limit 4)
        UNION
        (select season, toss_winner, count(toss_winner) from matches
        where toss_decision="field" and season in (2017)
        group by season, toss_winner
        order by season desc, count(toss_winner) desc
        limit 4)
'''
df= pd.read_sql(query,con=con)

In [12]:
df.head()

   season          toss_winner  count(toss_winner)
0    2016     Delhi Daredevils                   8
1    2016        Gujarat Lions                   8
2    2016       Mumbai Indians                   7
3    2016  Sunrisers Hyderabad                   7
4    2017       Mumbai Indians                   9

In [13]:
query2='''
        select t.season, t.batting_team, f.fours,s.sixes, t.total_runs from total_score t
        inner join fours f on f.batting_team=t.batting_team AND f.season=t.season
        inner join sixes s on s.batting_team=t.batting_team AND s.season=t.season
        order by t.season desc;
'''
df_2= pd.read_sql(query2,con=con)

In [14]:
df_2

    season                 batting_team  fours  sixes  total_runs
0     2017                Gujarat Lions    218     92      2412.0
1     2017        Kolkata Knight Riders    228     87      2484.0
2     2017              Kings XI Punjab    189     88      2207.0
3     2017             Delhi Daredevils    202     87      2219.0
4     2017          Sunrisers Hyderabad    220     70      2349.0
..     ...                          ...    ...    ...         ...
79    2008              Deccan Chargers    205     92      2229.0
80    2008        Kolkata Knight Riders    162     76      1942.0
81    2008  Royal Challengers Bangalore    187     59      1983.0
82    2008          Chennai Super Kings    244     86      2520.0
83    2008              Kings XI Punjab    231     95      2464.0

[84 rows x 5 columns]

In [17]:
query3='''
select T.season, T.bowler, T.economy from (select T.season, T.bowler, T.economy,
        row_number() over(partition by T.season order by T.economy asc) as rn
        from economy as T) as T
        where T.rn <= 10
'''
df_3= pd.read_sql(query3,con=con)

In [18]:
df_3

    season         bowler  economy
0     2008  Sohail Tanvir   6.0226
1     2008       DW Steyn   6.1215
2     2008      IK Pathan   6.2500
3     2008     SC Ganguly   6.3471
4     2008       AB Dinda   6.3673
..     ...            ...      ...
95    2017       S Nadeem   6.4909
96    2017     GJ Maxwell   6.5217
97    2017    Rashid Khan   6.5488
98    2017         AJ Tye   6.6094
99    2017      KH Pandya   6.6585

[100 rows x 3 columns]

In [19]:
query4='''
SELECT season,team FROM v_nrr WHERE NET_RUN_RATE = ANY(SELECT MAX(NET_RUN_RATE) 
        FROM v_nrr GROUP BY SEASON) 
        ORDER BY SEASON;
'''
df_4= pd.read_sql(query4, con=con)

In [20]:
df_4

   season                         team
0    2008              Deccan Chargers
1    2009             Delhi Daredevils
2    2010          Chennai Super Kings
3    2011         Kochi Tuskers Kerala
4    2012             Delhi Daredevils
5    2013  Royal Challengers Bangalore
6    2014               Mumbai Indians
7    2015  Royal Challengers Bangalore
8    2016        Kolkata Knight Riders
9    2017               Mumbai Indians

In [21]:
query5='''
SELECT team FROM v_nrr WHERE NET_RUN_RATE = ANY(SELECT MAX(NET_RUN_RATE) FROM v_nrr 
        where month(date)=4 GROUP BY SEASON) ORDER BY NET_RUN_RATE DESC limit 1;
'''
df_5= pd.read_sql(query5, con=con)

In [22]:
df_5

              team
0  Deccan Chargers

In [23]:
matches_data.head()

,MATCH_ID,SEASON,CITY,DATE,TEAM1,TEAM2,TOSS_WINNER,TOSS_DECISION,RESULT,WINNER
0,1,2017,Hyderabad,4/5/2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,Sunrisers Hyderabad
1,2,2017,Pune,4/6/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,Rising Pune Supergiant
2,3,2017,Rajkot,4/7/2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,Kolkata Knight Riders
3,4,2017,Indore,4/8/2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,Kings XI Punjab
4,5,2017,Bangalore,4/8/2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,Royal Challengers Bangalore

In [55]:
deleveries_data= pd.read_csv('/home/atharva/Documents/hackathon/hackathon/Cricket-Dataset/deliveries.csv')

In [56]:
deleveries_data.head()

,MATCH_ID,INNING,BATTING_TEAM,BOWLING_TEAM,OVER,BALL,BATSMAN,BOWLER,WIDE_RUNS,BYE_RUNS,LEGBYE_RUNS,NOBALL_RUNS,PENALTY_RUNS,BATSMAN_RUNS,EXTRA_RUNS,TOTAL_RUNS
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,TS Mills,0,0,0,0,0,0,0,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,TS Mills,0,0,0,0,0,0,0,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,TS Mills,0,0,0,0,0,4,0,4
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,TS Mills,0,0,0,0,0,0,0,0
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,TS Mills,2,0,0,0,0,0,2,2

In [53]:
matches_data[((matches_data.SEASON==2017) | (matches_data.SEASON==2016)) &(matches_data.TOSS_DECISION=='field') & (matches_data.TOSS_WINNER=='Delhi Daredevils')].count().values[0]

13

In [30]:
set(matches_data.TEAM1.values)

{'Chennai Super Kings',
 'Deccan Chargers',
 'Delhi Daredevils',
 'Gujarat Lions',
 'Kings XI Punjab',
 'Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Mumbai Indians',
 'Pune Warriors',
 'Rajasthan Royals',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Royal Challengers Bangalore',
 'Sunrisers Hyderabad'}

In [64]:
deleveries_data[(deleveries_data.BATTING_TEAM=='Sunrisers Hyderabad') & (deleveries_data.BATSMAN_RUNS==4) & (matches_data.SEASON==2017)].count()[0]

MATCH_ID        8
INNING          8
BATTING_TEAM    8
BOWLING_TEAM    8
OVER            8
BALL            8
BATSMAN         8
BOWLER          8
WIDE_RUNS       8
BYE_RUNS        8
LEGBYE_RUNS     8
NOBALL_RUNS     8
PENALTY_RUNS    8
BATSMAN_RUNS    8
EXTRA_RUNS      8
TOTAL_RUNS      8
dtype: int64

In [65]:
res= pd.merge(matches_data, deleveries_data,on="MATCH_ID")

In [69]:
for year in range(2008,2018):
    for team in set(res.BATTING_TEAM.values):
        print(year,": ",team,": ","Fours: ",res[(res.BATTING_TEAM==team) & (res.BATSMAN_RUNS==4) & (res.SEASON==year)].count()[0])
        print(year,": ",team,": ","Sixes: ",res[(res.BATTING_TEAM==team) & (res.BATSMAN_RUNS==6) & (res.SEASON==year)].count()[0])

2008 :  Royal Challengers Bangalore :  Fours:  187
2008 :  Royal Challengers Bangalore :  Sixes:  59
2008 :  Chennai Super Kings :  Fours:  244
2008 :  Chennai Super Kings :  Sixes:  86
2008 :  Deccan Chargers :  Fours:  205
2008 :  Deccan Chargers :  Sixes:  92
2008 :  Kochi Tuskers Kerala :  Fours:  0
2008 :  Kochi Tuskers Kerala :  Sixes:  0
2008 :  Rising Pune Supergiants :  Fours:  0
2008 :  Rising Pune Supergiants :  Sixes:  0
2008 :  Gujarat Lions :  Fours:  0
2008 :  Gujarat Lions :  Sixes:  0
2008 :  Sunrisers Hyderabad :  Fours:  0
2008 :  Sunrisers Hyderabad :  Sixes:  0
2008 :  Delhi Daredevils :  Fours:  218
2008 :  Delhi Daredevils :  Sixes:  54
2008 :  Kolkata Knight Riders :  Fours:  162
2008 :  Kolkata Knight Riders :  Sixes:  76
2008 :  Rajasthan Royals :  Fours:  259
2008 :  Rajasthan Royals :  Sixes:  85
2008 :  Kings XI Punjab :  Fours:  231
2008 :  Kings XI Punjab :  Sixes:  95
2008 :  Mumbai Indians :  Fours:  197
2008 :  Mumbai Indians :  Sixes:  76
2008 :  Pune Warriors :  Fours:  0
2008 :  Pune Warriors :  Sixes:  0
2008 :  Rising Pune Supergiant :  Fours:  0
2008 :  Rising Pune Supergiant :  Sixes:  0
2009 :  Royal Challengers Bangalore :  Fours:  192
2009 :  Royal Challengers Bangalore :  Sixes:  67
2009 :  Chennai Super Kings :  Fours:  192
2009 :  Chennai Super Kings :  Sixes:  73
2009 :  Deccan Chargers :  Fours:  173
2009 :  Deccan Chargers :  Sixes:  99
2009 :  Kochi Tuskers Kerala :  Fours:  0
2009 :  Kochi Tuskers Kerala :  Sixes:  0
2009 :  Rising Pune Supergiants :  Fours:  0
2009 :  Rising Pune Supergiants :  Sixes:  0
2009 :  Gujarat Lions :  Fours:  0
2009 :  Gujarat Lions :  Sixes:  0
2009 :  Sunrisers Hyderabad :  Fours:  0
2009 :  Sunrisers Hyderabad :  Sixes:  0
2009 :  Delhi Daredevils :  Fours:  188
2009 :  Delhi Daredevils :  Sixes:  51
2009 :  Kolkata Knight Riders :  Fours:  143
2009 :  Kolkata Knight Riders :  Sixes:  56
2009 :  Rajasthan Royals :  Fours:  148
2009 :  Rajasthan Royals :  Sixes:  47
2009 :  Kings XI Punjab :  Fours:  140
2009 :  Kings XI Punjab :  Sixes:  61
2009 :  Mumbai Indians :  Fours:  145
2009 :  Mumbai Indians :  Sixes:  54
2009 :  Pune Warriors :  Fours:  0
2009 :  Pune Warriors :  Sixes:  0
2009 :  Rising Pune Supergiant :  Fours:  0
2009 :  Rising Pune Supergiant :  Sixes:  0
2010 :  Royal Challengers Bangalore :  Fours:  214
2010 :  Royal Challengers Bangalore :  Sixes:  77
2010 :  Chennai Super Kings :  Fours:  212
2010 :  Chennai Super Kings :  Sixes:  98
2010 :  Deccan Chargers :  Fours:  197
2010 :  Deccan Chargers :  Sixes:  84
2010 :  Kochi Tuskers Kerala :  Fours:  0
2010 :  Kochi Tuskers Kerala :  Sixes:  0
2010 :  Rising Pune Supergiants :  Fours:  0
2010 :  Rising Pune Supergiants :  Sixes:  0
2010 :  Gujarat Lions :  Fours:  0
2010 :  Gujarat Lions :  Sixes:  0
2010 :  Sunrisers Hyderabad :  Fours:  0
2010 :  Sunrisers Hyderabad :  Sixes:  0
2010 :  Delhi Daredevils :  Fours:  190
2010 :  Delhi Daredevils :  Sixes:  58
2010 :  Kolkata Knight Riders :  Fours:  199
2010 :  Kolkata Knight Riders :  Sixes:  63
2010 :  Rajasthan Royals :  Fours:  202
2010 :  Rajasthan Royals :  Sixes:  74
2010 :  Kings XI Punjab :  Fours:  234
2010 :  Kings XI Punjab :  Sixes:  58
2010 :  Mumbai Indians :  Fours:  261
2010 :  Mumbai Indians :  Sixes:  75
2010 :  Pune Warriors :  Fours:  0
2010 :  Pune Warriors :  Sixes:  0
2010 :  Rising Pune Supergiant :  Fours:  0
2010 :  Rising Pune Supergiant :  Sixes:  0
2011 :  Royal Challengers Bangalore :  Fours:  225
2011 :  Royal Challengers Bangalore :  Sixes:  94
2011 :  Chennai Super Kings :  Fours:  204
2011 :  Chennai Super Kings :  Sixes:  91
2011 :  Deccan Chargers :  Fours:  194
2011 :  Deccan Chargers :  Sixes:  48
2011 :  Kochi Tuskers Kerala :  Fours:  170
2011 :  Kochi Tuskers Kerala :  Sixes:  53
2011 :  Rising Pune Supergiants :  Fours:  0
2011 :  Rising Pune Supergiants :  Sixes:  0
2011 :  Gujarat Lions :  Fours:  0
2011 :  Gujarat Lions :  Sixes:  0
2011 :  Sunrisers Hyderabad :  Fours:  0
2011 :  Sunrisers Hyderabad :  Sixes:  0
2011 :  Delhi Daredevils :  Fours:  185
2011 :  Delhi Daredevils :  Sixes:  75
2011 :  Kolkata Knight Riders :  Fours:  191
2011 :  Kolkata Knight Riders :  Sixes:  45
2011 :  Rajasthan Royals :  Fours:  153
2011 :  Rajasthan Royals :  Sixes:  42
2011 :  Kings XI Punjab :  Fours:  219
2011 :  Kings XI Punjab :  Sixes:  74
2011 :  Mumbai Indians :  Fours:  221
2011 :  Mumbai Indians :  Sixes:  57
2011 :  Pune Warriors :  Fours:  154
2011 :  Pune Warriors :  Sixes:  60
2011 :  Rising Pune Supergiant :  Fours:  0
2011 :  Rising Pune Supergiant :  Sixes:  0
2012 :  Royal Challengers Bangalore :  Fours:  186
2012 :  Royal Challengers Bangalore :  Sixes:  118
2012 :  Chennai Super Kings :  Fours:  223
2012 :  Chennai Super Kings :  Sixes:  102
2012 :  Deccan Chargers :  Fours:  188
2012 :  Deccan Chargers :  Sixes:  77
2012 :  Kochi Tuskers Kerala :  Fours:  0
2012 :  Kochi Tuskers Kerala :  Sixes:  0
2012 :  Rising Pune Supergiants :  Fours:  0
2012 :  Rising Pune Supergiants :  Sixes:  0
2012 :  Gujarat Lions :  Fours:  0
2012 :  Gujarat Lions :  Sixes:  0
2012 :  Sunrisers Hyderabad :  Fours:  0
2012 :  Sunrisers Hyderabad :  Sixes:  0
2012 :  Delhi Daredevils :  Fours:  232
2012 :  Delhi Daredevils :  Sixes:  97
2012 :  Kolkata Knight Riders :  Fours:  210
2012 :  Kolkata Knight Riders :  Sixes:  69
2012 :  Rajasthan Royals :  Fours:  246
2012 :  Rajasthan Royals :  Sixes:  69
2012 :  Kings XI Punjab :  Fours:  226
2012 :  Kings XI Punjab :  Sixes:  61
2012 :  Mumbai Indians :  Fours:  219
2012 :  Mumbai Indians :  Sixes:  80
2012 :  Pune Warriors :  Fours:  181
2012 :  Pune Warriors :  Sixes:  60
2012 :  Rising Pune Supergiant :  Fours:  0
2012 :  Rising Pune Supergiant :  Sixes:  0
2013 :  Royal Challengers Bangalore :  Fours:  230
2013 :  Royal Challengers Bangalore :  Sixes:  106
2013 :  Chennai Super Kings :  Fours:  241
2013 :  Chennai Super Kings :  Sixes:  84
2013 :  Deccan Chargers :  Fours:  0
2013 :  Deccan Chargers :  Sixes:  0
2013 :  Kochi Tuskers Kerala :  Fours:  0
2013 :  Kochi Tuskers Kerala :  Sixes:  0
2013 :  Rising Pune Supergiants :  Fours:  0
2013 :  Rising Pune Supergiants :  Sixes:  0
2013 :  Gujarat Lions :  Fours:  0
2013 :  Gujarat Lions :  Sixes:  0
2013 :  Sunrisers Hyderabad :  Fours:  196
2013 :  Sunrisers Hyderabad :  Sixes:  54
2013 :  Delhi Daredevils :  Fours:  211
2013 :  Delhi Daredevils :  Sixes:  52
2013 :  Kolkata Knight Riders :  Fours:  222
2013 :  Kolkata Knight Riders :  Sixes:  57
2013 :  Rajasthan Royals :  Fours:  267
2013 :  Rajasthan Royals :  Sixes:  70
2013 :  Kings XI Punjab :  Fours:  244
2013 :  Kings XI Punjab :  Sixes:  65
2013 :  Mumbai Indians :  Fours:  253
2013 :  Mumbai Indians :  Sixes:  117
2013 :  Pune Warriors :  Fours:  190
2013 :  Pune Warriors :  Sixes:  76
2013 :  Rising Pune Supergiant :  Fours:  0
2013 :  Rising Pune Supergiant :  Sixes:  0
2014 :  Royal Challengers Bangalore :  Fours:  165
2014 :  Royal Challengers Bangalore :  Sixes:  92
2014 :  Chennai Super Kings :  Fours:  205
2014 :  Chennai Super Kings :  Sixes:  112
2014 :  Deccan Chargers :  Fours:  0
2014 :  Deccan Chargers :  Sixes:  0
2014 :  Kochi Tuskers Kerala :  Fours:  0
2014 :  Kochi Tuskers Kerala :  Sixes:  0
2014 :  Rising Pune Supergiants :  Fours:  0
2014 :  Rising Pune Supergiants :  Sixes:  0
2014 :  Gujarat Lions :  Fours:  0
2014 :  Gujarat Lions :  Sixes:  0
2014 :  Sunrisers Hyderabad :  Fours:  167
2014 :  Sunrisers Hyderabad :  Sixes:  72
2014 :  Delhi Daredevils :  Fours:  177
2014 :  Delhi Daredevils :  Sixes:  63
2014 :  Kolkata Knight Riders :  Fours:  223
2014 :  Kolkata Knight Riders :  Sixes:  77
2014 :  Rajasthan Royals :  Fours:  167
2014 :  Rajasthan Royals :  Sixes:  86
2014 :  Kings XI Punjab :  Fours:  262
2014 :  Kings XI Punjab :  Sixes:  127
2014 :  Mumbai Indians :  Fours:  197
2014 :  Mumbai Indians :  Sixes:  86
2014 :  Pune Warriors :  Fours:  0
2014 :  Pune Warriors :  Sixes:  0
2014 :  Rising Pune Supergiant :  Fours:  0
2014 :  Rising Pune Supergiant :  Sixes:  0
2015 :  Royal Challengers Bangalore :  Fours:  206
2015 :  Royal Challengers Bangalore :  Sixes:  105
2015 :  Chennai Super Kings :  Fours:  249
2015 :  Chennai Super Kings :  Sixes:  96
2015 :  Deccan Chargers :  Fours:  0
2015 :  Deccan Chargers :  Sixes:  0
2015 :  Kochi Tuskers Kerala :  Fours:  0
2015 :  Kochi Tuskers Kerala :  Sixes:  0
2015 :  Rising Pune Supergiants :  Fours:  0
2015 :  Rising Pune Supergiants :  Sixes:  0
2015 :  Gujarat Lions :  Fours:  0
2015 :  Gujarat Lions :  Sixes:  0

2015 :  Sunrisers Hyderabad :  Fours:  185
2015 :  Sunrisers Hyderabad :  Sixes:  79
2015 :  Delhi Daredevils :  Fours:  188
2015 :  Delhi Daredevils :  Sixes:  84
2015 :  Kolkata Knight Riders :  Fours:  206
2015 :  Kolkata Knight Riders :  Sixes:  64
2015 :  Rajasthan Royals :  Fours:  188
2015 :  Rajasthan Royals :  Sixes:  65
2015 :  Kings XI Punjab :  Fours:  147
2015 :  Kings XI Punjab :  Sixes:  79
2015 :  Mumbai Indians :  Fours:  242
2015 :  Mumbai Indians :  Sixes:  120
2015 :  Pune Warriors :  Fours:  0
2015 :  Pune Warriors :  Sixes:  0
2015 :  Rising Pune Supergiant :  Fours:  0
2015 :  Rising Pune Supergiant :  Sixes:  0
2016 :  Royal Challengers Bangalore :  Fours:  240
2016 :  Royal Challengers Bangalore :  Sixes:  142
2016 :  Chennai Super Kings :  Fours:  0
2016 :  Chennai Super Kings :  Sixes:  0
2016 :  Deccan Chargers :  Fours:  0
2016 :  Deccan Chargers :  Sixes:  0
2016 :  Kochi Tuskers Kerala :  Fours:  0
2016 :  Kochi Tuskers Kerala :  Sixes:  0
2016 :  Rising Pune Supergiants :  Fours:  171
2016 :  Rising Pune Supergiants :  Sixes:  68
2016 :  Gujarat Lions :  Fours:  242
2016 :  Gujarat Lions :  Sixes:  63
2016 :  Sunrisers Hyderabad :  Fours:  231
2016 :  Sunrisers Hyderabad :  Sixes:  89
2016 :  Delhi Daredevils :  Fours:  179
2016 :  Delhi Daredevils :  Sixes:  65
2016 :  Kolkata Knight Riders :  Fours:  194
2016 :  Kolkata Knight Riders :  Sixes:  65
2016 :  Rajasthan Royals :  Fours:  0
2016 :  Rajasthan Royals :  Sixes:  0
2016 :  Kings XI Punjab :  Fours:  191
2016 :  Kings XI Punjab :  Sixes:  54
2016 :  Mumbai Indians :  Fours:  185
2016 :  Mumbai Indians :  Sixes:  93
2016 :  Pune Warriors :  Fours:  0
2016 :  Pune Warriors :  Sixes:  0
2016 :  Rising Pune Supergiant :  Fours:  0
2016 :  Rising Pune Supergiant :  Sixes:  0
2017 :  Royal Challengers Bangalore :  Fours:  133
2017 :  Royal Challengers Bangalore :  Sixes:  75
2017 :  Chennai Super Kings :  Fours:  0
2017 :  Chennai Super Kings :  Sixes:  0
2017 :  Deccan Chargers :  Fours:  0
2017 :  Deccan Chargers :  Sixes:  0
2017 :  Kochi Tuskers Kerala :  Fours:  0
2017 :  Kochi Tuskers Kerala :  Sixes:  0
2017 :  Rising Pune Supergiants :  Fours:  0
2017 :  Rising Pune Supergiants :  Sixes:  0
2017 :  Gujarat Lions :  Fours:  218
2017 :  Gujarat Lions :  Sixes:  92
2017 :  Sunrisers Hyderabad :  Fours:  220
2017 :  Sunrisers Hyderabad :  Sixes:  70
2017 :  Delhi Daredevils :  Fours:  202
2017 :  Delhi Daredevils :  Sixes:  87
2017 :  Kolkata Knight Riders :  Fours:  228
2017 :  Kolkata Knight Riders :  Sixes:  87
2017 :  Rajasthan Royals :  Fours:  0
2017 :  Rajasthan Royals :  Sixes:  0
2017 :  Kings XI Punjab :  Fours:  189
2017 :  Kings XI Punjab :  Sixes:  88
2017 :  Mumbai Indians :  Fours:  225
2017 :  Mumbai Indians :  Sixes:  118
2017 :  Pune Warriors :  Fours:  0
2017 :  Pune Warriors :  Sixes:  0
2017 :  Rising Pune Supergiant :  Fours:  197
2017 :  Rising Pune Supergiant :  Sixes:  89